/***
	Color Palette
		Baby Blue: #b1d4e0
		Blue: #2e8bc0
		Dark Blue: #0c2d48
		Midnight Blue: #145da0
***/

html, body {
  height: 100%;
  margin: 0;
}

body {
	font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
	font-weight: 500;
}

div, p, span, ul, ol {
	font-weight: 400;
}

button {
	font-family: 'Roboto', sans-serif;
}